<?xml version="1.0"?>
<!-- Basic differential drive mobile base -->
<robot name="assem4" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <!-- <xacro:arg name="use_sim" default="false" /> -->
  <xacro:arg name="use_ros2_control" default="true"/>
  <!-- <xacro:arg name="sim_mode" default="false"/> -->

  <!-- Enable setting arguments from the launch file -->
  <!-- <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="fake_sensor_commands" default="false" /> -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find assem4)/description/assem4.urdf.xacro" />

  <xacro:include filename="$(find assem4)/description/lidar.xacro" />

 <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <!-- <xacro:include filename="$(find assem4)/gazebo/robotta.gazebo.xacro" /> -->
  
  <!-- Import Rviz colors -->
  <!-- <xacro:include filename="$(find assem4)/gazebo/robotta.materials.xacro" /> -->

  <!-- Import diffbot ros2_control description -->
  <xacro:include filename="$(find assem4)/description/astrobot.ros2_control.xacro" />

  <!-- <xacro:robot_description prefix="$(arg prefix)" /> -->

  <!-- <xacro:robotta_gazebo prefix="$(arg prefix)" /> -->

  <!-- <xacro:robotta_system  -->
    <!-- name="RobottaSystem"/> -->
    <!-- use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)" -->
    <!-- joint0_name="$(arg prefix)left_wheel_joint"
    joint1_name="$(arg prefix)right_wheel_joint"  -->

</robot>